<template name="home">
    <div class="messages">
        <div style="position: absolute; bottom: 0px; width: 99%; max-height: 100%; overflow-y:scroll; overflow-x: hidden; padding: 3px;">
            {{#each messages}}
                {{> message}}
            {{/each}}
        <div class="cleaner"></div>
        </div>
    </div>

    {{#if currentUser}}
        <form>
            <div class="form-group">
                <input type="text" name="message" class="form-control" placeholder="Write something smart here and hit ENTER ...."/>
            </div>
        </form>
    {{else}}
        <p>You need to join <strong>Coccotte Systems</strong> to post here !!</p>
    {{/if}}
</template>